.footer .footer-menu {
  @media only screen and (min-width: 1366px) {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    gap: 0.4rem;
    text-align: center;
  }
}
.footer .footer-menu-item,
.footer .footer-menu-item a
{
  color: black;
  cursor:pointer;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.footer .footer-menu-item:hover,
.footer .footer-menu-item:hover a
{
  color: #68AB81;
}
