.phone {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.59672 1.00379C7.50672 0.903788 9.14672 2.80379 9.99672 4.32379C11.0167 6.14379 10.8767 7.31379 9.55672 8.88379C9.39672 9.07379 8.84672 9.48379 8.86672 9.69379C8.93672 10.3938 10.5767 12.2638 11.1067 12.8338C11.6367 13.4038 12.3167 14.0838 12.8967 14.6238C13.4367 15.1138 15.5367 16.9438 16.1867 16.9138C16.3767 16.8938 16.4167 16.6638 16.5467 16.5538C18.2267 15.0138 19.3567 14.5638 21.5067 15.7138C23.1067 16.5738 25.2667 18.4938 24.8267 20.5138C24.5367 21.8638 22.1767 24.3138 20.8467 24.6338C16.6367 25.6338 10.5267 21.0438 7.68672 18.2438C4.84672 15.4438 -0.0932781 8.92379 1.21672 4.72379C1.64672 3.31379 4.07672 1.09379 5.59672 1.00379Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  width: 5.335vw;
  height: 5.07vw;
  transition: all 0.5s ease-in-out;
  @media only screen and (min-width: 1366px) {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.59672 1.00379C7.50672 0.903788 9.14672 2.80379 9.99672 4.32379C11.0167 6.14379 10.8767 7.31379 9.55672 8.88379C9.39672 9.07379 8.84672 9.48379 8.86672 9.69379C8.93672 10.3938 10.5767 12.2638 11.1067 12.8338C11.6367 13.4038 12.3167 14.0838 12.8967 14.6238C13.4367 15.1138 15.5367 16.9438 16.1867 16.9138C16.3767 16.8938 16.4167 16.6638 16.5467 16.5538C18.2267 15.0138 19.3567 14.5638 21.5067 15.7138C23.1067 16.5738 25.2667 18.4938 24.8267 20.5138C24.5367 21.8638 22.1767 24.3138 20.8467 24.6338C16.6367 25.6338 10.5267 21.0438 7.68672 18.2438C4.84672 15.4438 -0.0932781 8.92379 1.21672 4.72379C1.64672 3.31379 4.07672 1.09379 5.59672 1.00379Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.phone:hover {
  @media only screen and (min-width: 1366px) {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.21092 0.777243C6.96061 0.685636 8.46296 2.42617 9.24162 3.81859C10.176 5.48584 10.0478 6.55764 8.83855 7.99587C8.69198 8.16992 8.18814 8.54551 8.20646 8.73789C8.27059 9.37914 9.77294 11.0922 10.2585 11.6143C10.744 12.1365 11.3669 12.7594 11.8982 13.2541C12.3929 13.703 14.3166 15.3794 14.9121 15.3519C15.0861 15.3336 15.1228 15.1229 15.2419 15.0221C16.7809 13.6114 17.816 13.1991 19.7856 14.2526C21.2513 15.0404 23.23 16.7993 22.8269 18.6498C22.5613 19.8865 20.3994 22.1308 19.181 22.424C15.3243 23.34 9.72714 19.1353 7.1255 16.5703C4.52386 14.0053 -0.00151882 8.03251 1.19853 4.18502C1.59244 2.89336 3.81849 0.85969 5.21092 0.777243Z' stroke='%2368AB81' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
  }
}

