wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php
!wp-config.php
!wp-content/
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/
*.log
wp-content/languages/*
wp-content/themes/*
wp-content/plugins/*
wp-content/plugins/advanced-custom-fields/*
wp-content/plugins/post-types-order/*
wp-content/plugins/smart-custom-fields/*
!wp-content/themes/2btalents/
wp-content/themes/astra/
!wp-content/plugins/about-items/
!wp-content/plugins/actor-item/
!wp-content/plugins/actors-front/
!wp-content/plugins/advanced-custom-fields/
!wp-content/plugins/ckeditor/
!wp-content/plugins/post-types-order/
!wp-content/plugins/smart-custom-fields/
!wp-content/plugins/to-talents/
!wp-content/plugins/custom-header.php
!wp-content/plugins/disable-emojies.php
!wp-content/plugins/restrict-wp-json-unauth.php
